@font-face {
  font-family: 'Helvetica';
  src: url('./assets/Helvetica-Font/Helvetica-Bold.ttf');
} 
*{
  font-family: "Helvetica";
}
body {
  font-family: "Helvetica";
  background-color: #181818;
}
.navbar * {
  color: #F8F8FE !important; /* Change the text color here */
}
.navbar {
  display: flex;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  
}

.navbar-left img {
  position: absolute;
  height: 30px;
  margin-left: 40px;
}

.navbar-middle {
  flex-grow: 1;
  text-align: center;
  font-family: 'Helvetica', Arial, sans-serif;
}

.navbar-right a {
  margin-left: 10px;
}
.navbar-right a.signup {
  display: inline-block;
  padding: 10px;
  border: 1px solid #fff;
}

.body-component{
  display: flex;
  background-color: #181818;
  justify-content: center;
  width: 100%;
}

.content{
  font-size: 42px;
  color: #fff ;
  position: absolute;
  text-align: center;
}
.content2{
  color: #fff ;
  position: absolute;
  text-align: center;
  margin-top: 120px;
}

.custom-button {

  position: absolute;
  text-align: center;
  margin-top: 200px;
  padding: 15px 30px;
  border-radius: 5px;
  background-color: #fff;
  color: white;
  background: linear-gradient(94.52deg, #2C9BCA 9.79%, #0CF93E 90.41%), linear-gradient(94.52deg, #2C9BCA 9.79%, #0CF93E 90.41%);
}
.outer-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 200px;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  color: white;
  background: linear-gradient(94.52deg, #2C9BCA 9.79%, #0CF93E 90.41%), linear-gradient(94.52deg, #2C9BCA 9.79%, #0CF93E 90.41%);
}
.inner-btn{
  width: 97%;
  height: 92%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 13px 28px; */
  border-radius: 30px;
  background-color: #181818;
  text-align: center;
}
.footer{
  text-align: center;
}
.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-links li {
  display: inline-block;
  margin: 0 10px;
}

.footer-links li a {
  color: #333;
  text-decoration: none;
}

.footer-links li a:hover {
  color: #555;
  text-decoration: underline;
}
